<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="ja-jp" uiCulture="ja-jp"/>
    <compilation debug="true" targetFramework="4.7.2"/>
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- メタデータ情報が公開されないようにするには、配置前に以下の値を false に設定します -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- デバッグのためにエラー時に例外の詳細を受信するには、下の値を true に設定します。例外情報の公開を回避するには、配置前に false に設定します。-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        デバッグ中に Web アプリケーションのルート ディレクトリを参照するには、以下の値を true に設定します。
        Web アプリケーションのフォルダー情報が公開されないように、配置前には false に設定してください。
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>